{
  "env": {
    "webextensions": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "extends": "eslint:recommended",
  "rules": {
    "getter-return": "error",
    "no-await-in-loop": "warn",
    "no-debugger": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-ex-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-extra-parens": "warn",
    "no-extra-semi": "warn",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "warn",
    "no-sparse-arrays": "warn",
    "no-template-curly-in-string": "warn",
    "no-unexpected-multiline": "warn",
    "no-unreachable": "error",
    "no-unsafe-finally": "warn",
    "no-unsafe-negation": "warn",
    "use-isnan": "error",
    "valid-typeof": "error",
    "array-callback-return": "warn",
    "class-methods-use-this": "off",
    "complexity": "off",
    "block-scoped-var": "warn",
    "consistent-return": "warn",
    "curly": "warn",
    "dot-location": ["warn", "property"],
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "no-alert": "warn",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-empty-pattern": "warn",
    "no-eq-null": "warn",
    "no-eval": "warn",
    "no-extend-native": "warn",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-fallthrough": "warn",
    "no-floating-decimal": "error",
    "no-global-assign": "warn",
    "no-implied-eval": "warn",
    "no-invalid-this": "warn",
    "no-iterator": "warn",
    "no-labels": "warn",
    "no-lone-blocks": "error",
    "no-loop-func": "warn",
    "no-magic-numbers": "off",
    "no-multi-spaces": "warn",
    "no-new-func": "warn",
    "no-new-wrappers": "warn",
    "no-param-reassign": "warn",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "warn",
    "no-script-url": "warn",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "warn",
    "no-throw-literal": "warn",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-unused-vars": "off",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "warn",
    "require-await": "error",
    "wrap-iife": ["warn", "inside"],
    "space-before-function-paren": ["warn", { "named": "never", "anonymous": "never", "asyncArrow": "always" }],
    "yoda": "off",
    "no-delete-var": "warn",
    "no-label-var": "error",
    "no-shadow": ["warn", { "allow": ["err"] }],
    "no-undef": "error",
    "no-undef-init": "error",
    "no-use-before-define": ["error", { "functions": true, "classes": true }],
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": "error",
    "capitalized-comments": "off",
    "comma-dangle": ["warn", "always-multiline"],
    "consistent-this": ["warn", "that"],
    "eol-last": "warn",
    "func-names": "off",
    "func-style": ["warn", "declaration", { "allowArrowFunctions": true }],
    "indent": ["warn", 2],
    "quote-props": ["warn", "as-needed"],
    "quotes": [
      "warn",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ],
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": false
      }
    ],
    "no-class-assign": "off",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "warn",
    "object-shorthand": ["warn", "always", { "avoidQuotes": true }],
    "prefer-arrow-callback": ["warn", { "allowNamedFunctions": true }],
    "prefer-destructuring": "off",
    "prefer-numeric-literals": "error",
    "prefer-rest-params": "warn",
    "prefer-spread": "warn",
    "prefer-template": "warn",
    "require-yield": "warn",
    "rest-spread-spacing": ["warn", "never"],
    "object-curly-spacing": ["warn", "always"],
    "sort-imports": "off",
    "symbol-description": "warn",
    "template-curly-spacing": ["warn", "never"]
  }
}
